<div class="home-bg">
  <br>
  <div class="container">
    <h1><strong>Welcome to Tickets Hunter</strong></h1>
    <br>
    
    <%= link_to 'Log In', new_session_path, class: 'btn btn-primary button' %>
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-success button' %>
  </div>
</div>