<div class="container">
  <h1>Welcome to Tickets Hunter</h1>
  <br>
  
  <%= link_to 'Log In', new_session_path, class: 'btn btn-primary button' %>
  <%= link_to 'Sign Up', new_user_path, class: 'btn btn-success button' %>
</div>
