<div class="home-bg">
  <br>
  <div class="container">
    <h1><strong>Welcome to Tickets Hunter</strong></h1>
    <br>
    
    <%= link_to 'Log In', new_session_path, class: 'btn btn-primary button' %>
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-success button' %>
    <%= link_to 'Visit as Guest', upcoming_path, class: 'btn btn-info button' %>
    <br><br>

    <img class="img-fluid rounded"
          src="http://kenh14cdn.com/web_images/ColorMeRun_v1/bg-header.jpg"
          alt="Color Me Run Ha Noi">
  </div>
  <br>
</div>