<div class="home-bg">
  <br>
  <div class="container">
  
    <% if flash_messages.presence %>
      <%= flash_messages %>
    <% else %>
    <% end %>

    <h1><strong>Welcome to Tickets Hunter</strong></h1>
    <br>
    
    <%= link_to 'Log In', new_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-success' %>

    <a href="<%= upcoming_path %>" class="btn btn-info" role="button" data-turbolinks="false">
      Visit as Guest
    </a>
    <br><br>
    
    <div data-turbolinks="false">
      <div id="custom-button">
        <a href="/auth/facebook" class="btn facebook">
          <span class="label">Log in with Facebook</span>
          <span class="icon fa fa-facebook"></span>
        </a>
      </div>
    </div>
    <br>

    <img class="img-fluid rounded"
          src="http://kenh14cdn.com/web_images/ColorMeRun_v1/bg-header.jpg"
          alt="Color Me Run Ha Noi">
  </div>
  <br>
</div>